/*CSS reset*/
body,
ol,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p,
th,
td,
dl,
dd,
form,
fieldset,
legend,
input,
textarea,
select {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: O;
}
img {
  border: 0;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}
ol,
ul {
  list-style: none;
}
caption,
th {
  text-align: left;
}
hl,
h2,
h3,
h4,
h5,
h6 {
  font-size: lOO%;
  font-weight: normal;
}
q:before,
q:after {
  content: "";
}
abbr,
acronym {
  border: 0;
}
input {
  outline: none;
}
/*文字排版*/
.f12 {
  font-size: 12px;
}
.f13 {
  font-size: 13px;
}
.f14 {
  font-size: 14px;
}
.f16 {
  font-size: 16px;
}
.f20 {
  font-size: 20px;
}
.fb {
  font-weight: bold;
}
.fn {
  font-weight: normal;
}
.t2 {
  text-indent: 2em;
}
.unl {
  text-decoration: underline;
}
.no-unl {
  text-decoration: none;
}
/*定位*/
.tl {
  text-align: left;
}
.tc {
  text-align: center;
}
.tr {
  text-align: right;
}
.bc {
  margin-left: auto;
  margin-right: auto;
}
.fl {
  float: left;
  display: inline;
}
.fr {
  float: right;
  display: inline;
}
.cl {
  clear: left;
}
.cr {
  clear: right;
}
.cb {
  clear: both;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {
  *zoom: 1;
}
.vm {
  vertical-align: middle;
}
.vtop {
  vertical-align: top;
}
.pr {
  position: relative;
}
.pa {
  position: absolute;
}
.abs-right {
  position: absolute;
  right: 0;
}
.zoom {
  zoom: 1;
}
.hidden {
  visibility: hidden;
}
.none {
  display: none;
}
.ovh {
  overflow: hidden;
}
.indent {
  text-indent: 2em;
}
.indent2 {
  text-indent: 3em;
}
/*通用类*/
.f16 {
  font-size: 16px;
}
.mt5 {
  margin-top: 5px;
}
.mt10 {
  margin-top: 10px;
}
.mt20 {
  margin-top: 20px;
}
.mt25 {
  margin-top: 25px;
}
.mt30 {
  margin-top: 30px;
}
.mt40 {
  margin-top: 40px;
}
.mt50 {
  margin-top: 50px;
}
.ml30 {
  margin-left: 30px;
}
.ml10 {
  margin-left: 10px;
}
.ml15 {
  margin-left: 15px;
}
.img-100 {
  display: block;
  width: 100%;
}
/*common.less*/
html,
body {
  width: 100%;
  height: 100%;
  background: #fff;
}
body {
  position: relative;
  width: 750px;
  margin: 0 auto;
  background-size: cover;
  overflow: hidden;
  font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
  -webkit-user-select: none;
}
.pub-tips {
  position: fixed;
  padding: 5px 15px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  color: #fff;
  font-size: 40px;
  z-index: 9999;
}
.public-bg {
  background: url(../images/public.png) no-repeat;
}
.game1-bg {
  background: url(../images/game1/game1.png) no-repeat;
}
.game3-bg {
  background: url(../images/game3/game3.png) no-repeat;
}
.game1-show-bg {
  background: url(../images/game1/game1_show.png) no-repeat;
}
.link-ani-bg {
  background: url(../images/game1/animation.png) no-repeat;
}
.center {
  display: box;
  display: -webkit-box;
  box-orient: horizontal;
  box-pack: center;
  box-align: center;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  -webkit-box-align: center;
}
.fullscreen {
  width: 100%;
  height: 100%;
}
.wrapper {
  position: relative;
  overflow: hidden;
}
.game-mask {
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.88);
  z-index: 999;
}
.loading {
  left: 0;
  top: 0;
  background: #000;
  z-index: 9999;
}
.loading .loading-icon {
  width: 158px;
  height: 146px;
  left: 50%;
  top: 50%;
  margin-left: -88px;
  margin-top: -80px;
  z-index: 9999;
}
.loading .loading-icon div {
  background: url(../images/loading.png) no-repeat;
  background-position: 0 0px;
  -webkit-transform-origin: center center;
  -webkit-animation: loading 2s linear infinite;
  z-index: 10;
}
.loading .loading-icon div:last-child {
  background-position: 0 -160px;
  z-index: 5;
  -webkit-animation: loading2 2s linear infinite;
}
.share-mask {
  z-index: 9999;
  left: 0;
  top: 0;
}
.game-full {
  background: rgba(0, 0, 0, 0.88);
  z-index: 999;
  left: 0;
  top: 0;
  z-index: 1222;
}
.game-full .game-full-title {
  width: 291px;
  height: 74px;
  margin: 120px auto 15px;
  background: url(../images/public.png) no-repeat;
  background-position: 0 -1280px;
}
.game-full .game-full-icon {
  width: 106px;
  height: 110px;
  margin: 0 auto;
  background: url(../images/public.png) no-repeat;
  background-position: -692px -402px;
}
.game-full .game-full-content {
  width: 510px;
  margin: 40px auto;
  border-top: 1px #9c9c9c solid;
  border-bottom: 1px #9c9c9c solid;
  padding: 50px 0;
}
.game-full .game-full-content .game-full-words {
  width: 427px;
  height: 31px;
  margin: 0 auto;
  background: url(../images/public.png) no-repeat;
  background-position: 0px -1240px;
}
.game-full .game-full-sure {
  width: 178px;
  height: 86px;
  margin: 60px auto 0;
  background: url(../images/public.png) no-repeat;
  background-position: -412px -202px;
}
.game-share-tips {
  background: rgba(0, 0, 0, 0.88);
  z-index: 999;
  left: 0;
  top: 0;
  z-index: 1222;
}
.game-share-tips .game-share-tipspic {
  position: absolute;
  width: 583px;
  height: 173px;
  right: 40px;
  top: 0;
  background: url(../images/public.png) no-repeat;
  background-position: 0 -868px;
}
.game-noprice {
  background: rgba(0, 0, 0, 0.88);
  z-index: 999;
  left: 0;
  top: 0;
  z-index: 2222;
}
.game-noprice .game-noprice-title {
  width: 626px;
  height: 76px;
  margin: 280px auto 90px;
  background: url(../images/public.png) no-repeat;
  background-position: 0 -1096px;
}
.game-noprice .game-noprice-content {
  width: 622px;
  position: relative;
  margin: 0 auto;
  padding: 80px 0 40px;
  border-top: 1px #9c9c9c solid;
  border-bottom: 1px #9c9c9c solid;
}
.game-noprice .game-noprice-content .game-noprice-icon {
  width: 132px;
  height: 134px;
  left: 245px;
  top: -60px;
  background: url(../images/public.png) no-repeat;
  background-position: -622px -890px;
}
.game-noprice .game-noprice-content .game-noprice-words {
  width: 505px;
  height: 31px;
  margin: 0 auto 30px;
  background: url(../images/public.png) no-repeat;
  background-position: 0px -1050px;
}
.game-noprice .game-noprice-sure {
  width: 178px;
  height: 86px;
  margin: 80px auto 0;
  background: url(../images/public.png) no-repeat;
  background-position: -412px -202px;
}
.game-price {
  background: rgba(0, 0, 0, 0.88);
  z-index: 999;
  left: 0;
  top: 0;
  z-index: 9100;
}
.game-price .game-price-title {
  width: 448px;
  height: 75px;
  margin: 180px auto 70px;
  background: url(../images/public.png) no-repeat;
  background-position: -352px -304px;
}
.game-price .game-price-content {
  width: 622px;
  position: relative;
  margin: 0 auto;
  padding: 70px 0 40px;
  border-top: 1px #9c9c9c solid;
  border-bottom: 1px #9c9c9c solid;
}
.game-price .game-price-content .game-price-icon {
  width: 132px;
  height: 134px;
  left: 245px;
  top: -60px;
  background: url(../images/public.png) no-repeat;
  background-position: -668px 0;
}
.game-price .game-price-content .game-price-words {
  width: 598px;
  height: 31px;
  margin: 0 auto 30px;
  background: url(../images/public.png) no-repeat;
  background-position: -6px -824px;
}
.game-price .game-price-content .game-price-input {
  border: 1px #fff solid;
  border-radius: 10px;
  width: 390px;
  padding: 10px 20px;
  margin: 0 auto;
}
.game-price .game-price-content .game-price-input input {
  border: none;
  font-size: 40px;
  color: #fff;
  width: 390px;
  height: 50px;
  line-height: 50px;
  background: none;
}
.game-price .game-price-submit {
  width: 178px;
  height: 82px;
  margin: 80px auto 0;
  background: url(../images/public.png) no-repeat;
  background-position: -623px -203px;
}
.game-exit {
  background: rgba(0, 0, 0, 0.88);
  z-index: 999;
  left: 0;
  top: 0;
  z-index: 9000;
}
.game-exit .game-exit-title {
  width: 296px;
  height: 86px;
  margin: 120px auto 0;
  background: url(../images/public.png) no-repeat;
  background-position: 0 -372px;
}
.game-exit .game-exit-icon {
  width: 118px;
  height: 118px;
  margin: 10px auto 50px;
  background: url(../images/public.png) no-repeat;
  background-position: -544px 0;
}
.game-exit .game-exit-words {
  width: 510px;
  margin: 0 auto;
  padding: 50px 0;
  border-top: 1px #9c9c9c solid;
  border-bottom: 1px #9c9c9c solid;
}
.game-exit .game-exit-words .game-exit-wordspic {
  width: 526px;
  height: 80px;
  background: url(../images/public.png) no-repeat;
  background-position: 0 -452px;
}
.game-exit .game-exit-sure {
  width: 188px;
  height: 90px;
  margin: 90px auto 0;
  background: url(../images/public.png) no-repeat;
  background-position: -410px -202px;
}
.game-pubcode {
  background: rgba(0, 0, 0, 0.88);
  z-index: 999;
  left: 0;
  top: 0;
  z-index: 2222;
}
.game-pubcode img {
  margin-top: -100px;
}
.game-share {
  overflow: hidden;
  background: rgba(0, 0, 0, 0.88);
  z-index: 999;
  background: #333;
  left: 0;
  top: 0;
  z-index: 1111;
}
.game-share .game-share-top {
  width: 700px;
  height: 830px;
  margin: 24px auto 20px;
  border-radius: 10px;
  overflow: hidden;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#b5b5b5));
}
.game-share .game-share-top .game-share-head {
  width: 500px;
  height: 276px;
  margin: 10px auto 40px;
}
.game-share .game-share-top .game-share-head div {
  width: 180px;
  top: 30px;
  left: 0;
}
.game-share .game-share-top .game-share-head div div {
  width: 180px;
  height: 180px;
  background: red;
  border-radius: 50%;
  overflow: hidden;
}
.game-share .game-share-top .game-share-head div div img {
  width: 172px;
  height: 172px;
  border-radius: 50%;
  margin: 4px;
  display: block;
}
.game-share .game-share-top .game-share-head div p {
  font-size: 30px;
  margin-top: 20px;
  height: 35px;
  line-height: 35px;
  overflow: hidden;
}
.game-share .game-share-top .game-share-head div:last-child {
  left: inherit;
  right: 0;
}
.game-share .game-share-top .game-share-head .plus {
  width: 52px;
  left: 240px;
  top: 110px;
  font-size: 52px;
  color: #606060;
}
.game-share .game-share-top .game-share-title {
  width: 500px;
  height: 42px;
  margin: 0 auto;
  background: url(../images/game1/game1.png) no-repeat;
  background-position: 0 -610px;
}
.game-share .game-share-top .game-share-title span {
  color: #9e1818;
  font-size: 82px;
  font-weight: bold;
  right: 40px;
  top: -36px;
  display: block;
  width: 100px;
  text-align: center;
}
.game-share .game-share-top .game-share-title3 {
  width: 517px;
  background: url(../images/game3/game3.png) no-repeat;
  background-position: -5px -695px;
}
.game-share .game-share-top .game-share-title3 span {
  right: 26px;
}
.game-share .game-share-top .game-share-score {
  width: 390px;
  height: 84px;
  margin: 55px auto 90px;
  background: url(../images/public.png) no-repeat;
  background-position: 0 -206px;
}
.game-share .game-share-top .game-share-score span {
  color: #9e1818;
  font-size: 94px;
  font-weight: bold;
  right: 25px;
  top: -25px;
  display: block;
  width: 100px;
  text-align: center;
}
.game-share .game-share-top .game-share-words {
  width: 573px;
  margin: 0 auto;
  padding-top: 70px;
  border-top: 1px #9d9d9d solid;
}
.game-share .game-share-top .game-share-words .game-share-wordspic {
  height: 143px;
  background: url(../images/game1/game1.png) no-repeat;
  background-position: 0 0;
}
.game-share .game-share-top .game-share-words .game-share-wordspic3 {
  width: 564px;
  height: 137px;
  margin: 0 auto;
  background: url(../images/game3/game3.png) no-repeat;
  background-position: -5px -548px;
}
.game-share .game-share-top .game-share-words .game-share-icon {
  width: 132px;
  height: 134px;
  left: 220px;
  top: -67px;
  background: url(../images/game1/game1.png) no-repeat;
  background-position: -606px -106px;
}
.game-share .game-share-top .game-share-words .game-share-icon3 {
  background: url(../images/game3/game3.png) no-repeat;
  background-position: -765px -205px;
}
.game-share .game-share-bottom {
  width: 700px;
  margin: 0 auto;
}
.game-share .game-share-bottom a {
  display: block;
}
.game-share .game-share-bottom .game-restart {
  width: 290px;
  height: 120px;
  background: url(../images/public.png) no-repeat;
  background-position: 0 -696px;
}
.game-share .game-share-bottom .game-price {
  width: 400px;
  height: 120px;
  background: url(../images/public.png) no-repeat;
  background-position: -306px -696px;
}
.game-share .game-share-bottom .game-plantform {
  width: 290px;
  height: 104px;
  background: url(../images/public.png) no-repeat;
  background-position: 0 -594px;
}
.game-share .game-share-bottom .game-detail {
  width: 400px;
  height: 104px;
  background: url(../images/public.png) no-repeat;
  background-position: -299px -594px;
}
.game-code {
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.88);
  z-index: 999;
}
.game-code .code-title {
  width: 370px;
  height: 108px;
  margin: 70px auto 40px;
  background: url(../images/game1/game1.png) no-repeat;
  background-position: -8px -754px;
}
.game-code .code-title3 {
  width: 387px;
  height: 121px;
  background: url(../images/game3/game3.png) no-repeat;
  background-position: -281px -276px;
}
.game-code .code-desc {
  width: 578px;
  margin: 0 auto 80px;
  padding: 40px 0 90px;
  color: #fff;
  border-top: 1px #9c9c9c solid;
  border-bottom: 1px #9c9c9c solid;
  font-size: 30px;
}
.game-code .code-desc .code-desc-pic {
  width: 576px;
  height: 131px;
  margin: 0 auto 80px;
  background: url(../images/game1/game1_show.png) no-repeat;
  background-position: -5px -5px;
}
.game-code .code-desc .code-desc-pic3 {
  background: url(../images/game3/game3.png) no-repeat;
  background-position: -5px -407px;
}
.game-code .code-desc .code-icon {
  width: 132px;
  height: 134px;
  left: 50%;
  margin-left: -70px;
  bottom: -70px;
  background: url(../images/game1/game1.png) no-repeat;
  background-position: -606px -106px;
}
.game-code .code-desc .code-icon3 {
  background: url(../images/game3/game3.png) no-repeat;
  background-position: -765px -205px;
}
.game-code .code-desc1 {
  border-top: 0;
  padding: 10px 0 40px;
}
.game-code .code-desc1 .code-desc-pic1 {
  width: 563px;
  height: 71px;
  background: url(../images/game1/game1_show.png) no-repeat;
  background-position: -5px -5px;
}
.game-code .code-desc1 .code-desc-pic3 {
  width: 624px;
  height: 71px;
  margin-left: -23px;
  background: url(../images/game3/game3.png) no-repeat;
  background-position: 0px -830px;
}
.game-code .code-show {
  width: 100%;
  overflow: hidden;
}
.game-code .code-show .code-show-share {
  width: 375px;
  height: 29px;
  margin: 0 auto;
  background: url(../images/game1/game1_show.png) no-repeat;
  background-position: -5px -536px;
}
.game-code .code-show .code-show-box {
  width: 300%;
}
.game-code .code-show .code-show-box .code-show-list {
  width: 750px;
}
.game-code .code-show .code-show-box .code-show-list .code-show-title1 {
  width: 460px;
  height: 91px;
  margin: 20px auto 80px;
  background: url(../images/game1/game1_show.png) no-repeat;
  background-position: -5px -333px;
}
.game-code .code-show .code-show-box .code-show-list .code-show-title2 {
  width: 515px;
  height: 90px;
  margin: 20px auto 80px;
  background: url(../images/game1/game1_show.png) no-repeat;
  background-position: -5px -434px;
}
.game-code .code-show .code-show-box .code-show-list .code-show-pic1 {
  width: 278px;
  height: 196px;
  margin: 0 auto;
  background: url(../images/game1/game1_show.png) no-repeat;
  background-position: -230px -127px;
}
.game-code .code-show .code-show-box .code-show-list .code-show-pic2 {
  width: 238px;
  height: 196px;
  margin: 0 auto;
}
.game-code .code-show .code-show-box .code-show-list .code-show-m1 {
  width: 100px;
  height: 196px;
  left: 0;
  top: 0;
  background: url(../images/game1/game1_show.png) no-repeat;
  background-position: -578px -5px;
}
.game-code .code-show .code-show-box .code-show-list .code-show-m2 {
  width: 100px;
  height: 196px;
  right: 0;
  top: 0;
  background: url(../images/game1/game1_show.png) no-repeat;
  background-position: -716px -5px;
  z-index: 10;
}
.game-code .code-show .code-show-box .code-show-list .code-show-m2 span {
  display: block;
  width: 40px;
  height: 2px;
  margin-left: 32px;
  margin-top: 96px;
  background: #3a8b39;
}
.game-code .code-show .code-show-box .code-show-list .code-show-m2 .m2-ani {
  -webkit-animation: mcode 4s linear infinite;
}
.game-code .code-show .code-show-box .code-show-list .code-show-know {
  width: 87px;
  height: 39px;
  margin: 90px auto;
  background: url(../images/game1/game1_show.png) no-repeat;
  background-position: -5px -86px;
}
.game-code .code-show .code-show-box .code-show-list .code-show-reknow {
  width: 118px;
  height: 39px;
  margin: 90px auto;
  background: url(../images/game1/game1_show.png) no-repeat;
  background-position: -102px -86px;
}
.game-code .code-pic {
  width: 232px;
  margin: 0 auto 50px;
  padding: 20px;
  background: #fff;
}
.game-code .code-pic1 {
  margin-top: 50px;
}
.game-code .code-invite {
  width: 432px;
  height: 57px;
  margin: 0 auto;
  background: url(../images/public.png) no-repeat;
  background-position: 0 -532px;
}
.game-time {
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.88);
  z-index: 999;
}
.game-time .time-box {
  position: absolute;
  width: 500px;
  left: 50%;
  top: 50%;
  margin-left: -250px;
  margin-top: -280px;
}
.game-time .time-box .time-title {
  width: 290px;
  height: 76px;
  margin: 0 auto;
  background: url(../images/public.png) no-repeat;
  background-position: -4px -300px;
}
.game-time .time-box .time-center {
  margin-top: 60px;
  height: 418px;
  border-top: 1px #9c9c9c solid;
  border-bottom: 1px #9c9c9c solid;
}
.game-time .time-box .time-center .time-circle {
  width: 334px;
  height: 334px;
  margin: 40px auto;
  border: 1px #ccc solid;
  border-radius: 50%;
  position: relative;
}
.game-time .time-box .time-center .time-circle .time-circle-num {
  display: box;
  display: -webkit-box;
  box-orient: horizontal;
  box-pack: center;
  box-align: center;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  font-size: 208px;
  color: #fff;
}
.game-time .time-box .time-center .time-circle .hold {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}
.game-time .time-box .time-center .time-circle .hold .pie {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  position: absolute;
}
.game-time .time-box .time-center .time-circle .hold .pie1 {
  clip: rect(0px, 334px, 334px, 167px);
}
.game-time .time-box .time-center .time-circle .hold .pie2 {
  clip: rect(0px, 167px, 334px, 0px);
}
.game-time .time-box .time-center .time-circle .hold1 {
  clip: rect(0px, 334px, 334px, 167px);
}
.game-time .time-box .time-center .time-circle .hold2 {
  clip: rect(0px, 167px, 334px, 0px);
}
.game-link {
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.88);
  z-index: 999;
}
.game-link .link-title {
  width: 291px;
  height: 75px;
  margin: 40px auto 0px;
  background: url(../images/public.png) no-repeat;
  background-position: -2px -114px;
}
.game-link .link-icon {
  width: 108px;
  height: 108px;
  margin: 20px auto 50px;
  background: url(../images/public.png) no-repeat;
  background-position: 0 0;
}
.game-link .link-desc {
  width: 500px;
  margin: 0 auto;
  border-top: 1px #9c9c9c solid;
  border-bottom: 1px #9c9c9c solid;
  font-size: 32px;
  color: #fff;
  padding: 25px 0 50px;
}
.game-link .link-desc .link-desc-pic {
  width: 524px;
  height: 298px;
  background: url(../images/game1/game1.png) no-repeat;
  background-position: 0 -300px;
}
.game-link .link-desc .link-desc-pic3 {
  width: 519px;
  height: 317px;
  background: url(../images/game3/game3.png) no-repeat;
  background-position: -907px -5px;
}
.game-link .link-desc1 {
  width: 589px;
  padding: 20px 0;
  margin-top: -15px;
  -webkit-transform-origin: center top;
}
.game-link .link-desc1 .link-desc-photo {
  width: 589px;
  height: 518px;
  margin: 40px auto;
}
.game-link .link-desc1 .link-desc-words {
  width: 455px;
  height: 88px;
  margin: 0px auto 20px;
  background: url(../images/game1/game1.png) no-repeat;
  background-position: 0px -886px;
}
.game-link .link-desc1 .link-desc-words3 {
  width: 356px;
  height: 89px;
  margin: 0px auto 20px;
  background: url(../images/game3/game3.png) no-repeat;
  background-position: 0px -966px;
}
.game-link .link-desc1 .link-desc-pic {
  height: 124px;
  background-position: 0 -375px;
}
.game-link .link-sure {
  width: 178px;
  height: 88px;
  margin: 20px auto 0;
  background: url(../images/public.png) no-repeat;
  background-position: -334px -1280px;
}
.game-link .link-sure2 {
  background-position: -118px -8px;
}
@-webkit-keyframes mcode {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
  }
  25% {
    -webkit-transform: translate3d(0, 20px, 0);
  }
  50% {
    -webkit-transform: translate3d(0, 0, 0);
  }
  75% {
    -webkit-transform: translate3d(0, -20px, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes loading {
  0% {
    -webkit-transform: rotateY(0);
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  25% {
    -webkit-transform: rotateY(90deg);
    opacity: 0;
  }
  50% {
    -webkit-transform: rotateY(180deg);
    opacity: 0;
  }
  75% {
    -webkit-transform: rotateY(270deg);
    opacity: 0;
  }
  76% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateY(360deg);
    opacity: 1;
  }
}
@-webkit-keyframes loading2 {
  0% {
    -webkit-transform: rotateY(0) scaleX(-1);
    opacity: 0;
  }
  24% {
    opacity: 0;
  }
  25% {
    -webkit-transform: rotateY(90deg) scaleX(-1);
    opacity: 1;
  }
  50% {
    -webkit-transform: rotateY(180deg) scaleX(-1);
    opacity: 1;
  }
  75% {
    -webkit-transform: rotateY(270deg) scaleX(-1);
    opacity: 1;
  }
  76% {
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(360deg) scaleX(-1);
    opacity: 0;
  }
}
@media only screen and (max-device-height: 480px) {
  .game-share .game-share-top {
    height: 720px;
    margin: 10px auto;
  }
  .game-share .game-share-top .game-share-head {
    margin: -10px auto 10px;
  }
  .game-share .game-share-top .game-share-score {
    margin: 30px auto 70px;
  }
  .game-share .game-share-bottom div:last-child {
    margin-top: -10px;
  }
}
@media only screen and (max-device-height: 500px) {
  .game-pubcode img {
    margin-top: -200px;
  }
  .game-link .link-desc1 {
    -webkit-transform: scale(0.85);
  }
  .game-code .code-show .code-show-box {
    width: 300%;
  }
  .game-code .code-show .code-show-box .code-show-list .code-show-know {
    margin-top: 40px;
  }
  .game-code .code-show .code-show-box .code-show-list .code-show-reknow {
    margin-top: 30px;
  }
  .game-link .link-sure1 {
    margin-top: -80px;
  }
}
@media only screen and (device-width: 320px) and (device-height: 568px) {
  .game-share .game-share-top {
    height: 900px;
    margin: 20px auto 30px;
  }
  .game-share .game-share-top .game-share-head {
    margin: 20px auto 30px;
  }
  .game-share .game-share-top .game-share-score {
    margin: 60px auto 90px;
  }
  .game-share .game-share-bottom div:last-child {
    margin-top: 0px;
  }
  .game-code .code-show .code-show-box .code-show-list .code-show-title1 {
    margin: 20px auto 100px;
  }
  .game-code .code-show .code-show-box .code-show-list .code-show-title2 {
    margin: 20px auto 100px;
  }
  .game-code .code-show .code-show-box .code-show-list .code-show-know {
    margin: 120px auto;
  }
  .game-code .code-show .code-show-box .code-show-list .code-show-reknow {
    margin: 90px auto;
  }
  .game-link .link-desc1 {
    padding: 30px 0;
  }
  .game-link .link-desc1 .link-desc-photo {
    margin: 40px auto 60px;
  }
  .game-link .link-desc1 .link-desc-words {
    margin: 0px auto 20px;
  }
}
@media only screen and (device-width: 375px) and (device-height: 667px) {
  .game-share .game-share-top {
    height: 900px;
    margin: 20px auto 30px;
  }
  .game-share .game-share-top .game-share-head {
    margin: 20px auto 30px;
  }
  .game-share .game-share-top .game-share-score {
    margin: 60px auto 90px;
  }
  .game-share .game-share-bottom div:last-child {
    margin-top: 0px;
  }
  .game-share .link-desc-photo {
    margin: 50px auto;
  }
  .game-link .link-desc1 {
    padding: 30px 0;
  }
  .game-link .link-desc1 .link-desc-photo {
    margin: 40px auto 60px;
  }
  .game-link .link-desc1 .link-desc-words {
    margin: 0px auto 20px;
  }
  .game-code .code-show .code-show-box .code-show-list .code-show-title1 {
    margin: 20px auto 100px;
  }
  .game-code .code-show .code-show-box .code-show-list .code-show-title2 {
    margin: 20px auto 100px;
  }
  .game-code .code-show .code-show-box .code-show-list .code-show-know {
    margin: 120px auto;
  }
  .game-code .code-show .code-show-box .code-show-list .code-show-reknow {
    margin: 90px auto;
  }
}
@media only screen and (device-width: 400px) and (device-height: 640px) {
  .game-share .game-share-top {
    height: 720px;
    margin: 10px auto;
  }
  .game-share .game-share-top .game-share-head {
    margin: -10px auto 10px;
  }
  .game-share .game-share-top .game-share-score {
    margin: 30px auto 70px;
  }
  .game-share .game-share-bottom div:last-child {
    margin-top: -10px;
  }
  .game-link .link-desc1 {
    padding: 10px 0;
    -webkit-transform: scale(0.8);
  }
  .game-code .code-show .code-show-box {
    width: 300%;
  }
  .game-code .code-show .code-show-box .code-show-list .code-show-know {
    margin-top: 40px;
  }
  .game-code .code-show .code-show-box .code-show-list .code-show-reknow {
    margin-top: 30px;
  }
  .game-link .link-sure1 {
    margin-top: -100px;
  }
  .game-pubcode img {
    margin-top: -200px;
  }
}
@media only screen and (device-width: 800px) and (device-height: 1280px) {
  .game-share .game-share-top {
    height: 720px;
    margin: 10px auto;
  }
  .game-share .game-share-top .game-share-head {
    margin: -10px auto 10px;
  }
  .game-share .game-share-top .game-share-score {
    margin: 30px auto 70px;
  }
  .game-share .game-share-bottom div:last-child {
    margin-top: -10px;
  }
  .game-code .code-show .code-show-box {
    width: 300%;
  }
  .game-code .code-show .code-show-box .code-show-list .code-show-know {
    margin-top: 40px;
  }
  .game-link .link-desc1 {
    padding: 10px 0;
    -webkit-transform: scale(0.8);
  }
  .game-link .link-sure1 {
    margin-top: -100px;
  }
  .code-show .code-show-box .code-show-list .code-show-know {
    margin-top: 10px;
  }
  .code-show .code-show-box .code-show-list .code-show-reknow {
    margin-top: 30px;
  }
  .game-pubcode img {
    margin-top: -200px;
  }
}
/*page1.less*/
body {
  background: url(../images/game1/game1_bg.jpg) no-repeat center bottom;
}
.tree-left-bg {
  background: url(../images/game1/tree_left.png) no-repeat;
}
.tree-right-bg {
  background: url(../images/game1/tree_right.png) no-repeat;
}
.wrapper .game1-tips {
  width: 570px;
  right: 70px;
  bottom: 400px;
  z-index: 999;
}
.wrapper .game1-tips .game1-tips-mask {
  height: 180px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 50px;
  margin-bottom: 25px;
}
.wrapper .game1-tips p {
  color: #000;
  font-size: 32px;
  letter-spacing: 2px;
}
.wrapper .tree-number-box {
  width: 312px;
  left: 40px;
  bottom: 25px;
}
.wrapper .tree-number-box .tree-number-pic {
  display: inline-block;
  width: 260px;
  height: 64px;
  background: url(../images/game1/game1.png) no-repeat;
  background-position: -408px -671px;
}
.wrapper .tree-number-box .tree-number {
  font-size: 54px;
  color: #fff;
  margin-left: -14px;
}
.wrapper .time-box {
  width: 204px;
  height: 123px;
  left: 20px;
  top: 20px;
  z-index: 100;
  color: #fff;
  background: url(../images/public.png) no-repeat;
  background-position: -310px -4px;
}
.wrapper .time-box .time-leave {
  font-size: 104px;
  letter-spacing: 26px;
  margin-left: 22px;
}
.wrapper .game-arrow {
  width: 90px;
  height: 90px;
  left: 175px;
  bottom: 560px;
  background: url(../images/game1/game1.png) no-repeat;
  background-position: -604px 0;
  z-index: 999;
  -webkit-transform-origin: center center;
}
.wrapper .game-arrow-red {
  background: url(../images/game1/game1.png) no-repeat;
  background-position: -603px -361px;
}
.wrapper .game-arrow-green {
  background: url(../images/game1/game1.png) no-repeat;
  background-position: -695px -361px;
}
.wrapper .game-arrow-r {
  background-position: -700px 0;
}
.wrapper .game-arrow-r-red {
  background: url(../images/game1/game1.png) no-repeat;
  background-position: -604px -246px;
}
.wrapper .game-arrow-r-green {
  background: url(../images/game1/game1.png) no-repeat;
  background-position: -695px -246px;
}
.wrapper .tree-box {
  right: 0;
  bottom: 70px;
  width: 570px;
  height: 1368px;
  z-index: 10;
}
.wrapper .tree-box .tree-box-top {
  width: 570px;
  height: 819px;
  right: 0;
  top: 140px;
  background: url(../images/game1/tree_left.png) no-repeat;
  background-position: 0 -701px;
  z-index: 10;
}
.wrapper .tree-box .tree-box-bottom {
  width: 191px;
  height: 549px;
  right: 0;
  bottom: 0;
  background: url(../images/game1/tree_left.png) no-repeat;
  background-position: 0 -152px;
  z-index: 5;
}
.wrapper .tree-box .tree-box-saw {
  width: 549px;
  height: 152px;
  right: -75px;
  bottom: 450px;
  background: url(../images/game1/tree_left.png) no-repeat;
  background-position: 0 0;
  z-index: 8;
}
.wrapper .game1-cloud {
  width: 266px;
  height: 79px;
  background: url(../images/game1/game1.png) no-repeat;
  background-position: 0 -662px;
  left: 360px;
  bottom: 680px;
  -webkit-animation: cloud 30s linear infinite;
  -webkit-animation-delay: 3s;
}
.wrapper .game1-cloud:last-child {
  left: -10px;
  bottom: 780px;
  -webkit-animation: cloud2 25s linear infinite;
  -webkit-animation-delay: 3s;
}
.wrapper .game1-sun {
  width: 0;
  height: 0;
  display: none;
  visibility: hidden;
}
.wrapper .tree-ani {
  width: 197px;
  height: 299px;
  left: 480px;
  bottom: 440px;
  background-image: url(../images/game1/mx.png);
}
.bg-r {
  background-image: url(../images/game1/game1_bg_r.jpg);
}
.bg-r .wrapper {
  overflow: hidden;
}
.bg-r .wrapper .game1-tips {
  right: inherit;
  left: 70px;
}
.bg-r .wrapper .game1-tips p {
  padding-left: 30px;
}
.bg-r .wrapper .tree-number-box {
  left: inherit;
  right: 20px;
}
.bg-r .wrapper .time-box {
  left: inherit;
  right: 20px;
}
.bg-r .wrapper .game-arrow {
  left: inherit;
  right: 175px;
}
.bg-r .wrapper .tree-box {
  right: inherit;
  left: 0;
}
.bg-r .wrapper .tree-box .tree-box-top {
  right: inherit;
  left: 0;
  background: url(../images/game1/tree_right.png) no-repeat;
  background-position: 0px -701px;
}
.bg-r .wrapper .tree-box .tree-box-bottom {
  right: inherit;
  left: 0;
  background: url(../images/game1/tree_right.png) no-repeat;
  background-position: 0px -152px;
}
.bg-r .wrapper .tree-box .tree-box-saw {
  right: inherit;
  left: -75px;
  background: url(../images/game1/tree_right.png) no-repeat;
  background-position: 0 0;
}
.bg-r .game1-cloud {
  left: 520px;
  bottom: 750px;
}
.bg-r .game1-cloud:last-child {
  left: 60px;
  bottom: 390px;
}
.bg-r .game1-sun {
  visibility: visible;
  width: 78px;
  height: 77px;
  left: 540px;
  bottom: 780px;
  background: url(../images/game1/game1.png) no-repeat;
  background-position: -288px -662px;
}
.bg-r .tree-ani {
  left: 90px;
  bottom: 440px;
  background-image: url(../images/game1/mx2.png);
}
@-webkit-keyframes cloud {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
  }
  25% {
    -webkit-transform: translate3d(100px, 0, 0);
  }
  50% {
    -webkit-transform: translate3d(0, 0, 0);
  }
  75% {
    -webkit-transform: translate3d(-120px, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes cloud2 {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
  }
  25% {
    -webkit-transform: translate3d(80px, 0, 0);
  }
  50% {
    -webkit-transform: translate3d(0, 0, 0);
  }
  75% {
    -webkit-transform: translate3d(-100px, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
  }
}
