/*page.less*/

.bg-cover{
	background-size: cover;
}

body{ 
	background: url(../images/index/index_bg.jpg) no-repeat center bottom;
	.bg-cover;
}



.index-logo{

	width: 271px;
	height: 132px;
	top: 30px;
	left: 240px;
	background: url(../images/index/index_all.png) no-repeat 0px 0px;
}

.index-slogan{

	width: 678px;
	height: 589px;
	top: -10px;
	left: -8px;
	background: url(../images/index/index_slogan.gif);
}

.index-menu{

	width: 452px;
	height: 416px;
	padding-top: 10px;
	top:520px;
	left: 160px;
	background: url(../images/index/index_all.png) no-repeat 0px -134px;
	p{
		margin-top: 58px;
		height: 96px;
		&:first-child{ margin-top: 0;}
		a{
			display: block;
			height: 100%;
		}
	}
}