/*page.less*/

.bg-index{

	background: url(../images/index/index_all.png) no-repeat;
}

.z-top{
	z-index: 10;
}

.index-animation{
	-webkit-animation:cloud 30s linear infinite;
}

html,body{ 
	width: 100%;
	height: 100%; 
	background: #fff;
}

body{ 
	position: relative;  
	width: 750px; 
	margin: 0 auto; 
	overflow: hidden; 
	font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
	-webkit-user-select: none; 
	background: url(../images/index/index_bg.jpg) no-repeat center bottom;
	background-size: cover;
}



.index-logo{

	width: 271px;
	height: 132px;
	top: 22px;
	left: 240px;
	.bg-index;
	.z-top;
	background-position:  0px -307px;
}

.index-slogan{

	width: 451px;
	height: 440px;
	top: 10px;
	left: 149px;
	.bg-index;
	z-index: 8;
	background-position:  0 -1020px;
}

.index-title{

	width: 625px;
	height: 165px;
	top: 144px;
	left: 68px;
	.bg-index;
	.z-top;
	background-position:  0 -439px;

}

.index-menu{

	width: 452px;
	height: 120px;
	left: 150px;
	top: 480px;
	.bg-index;
	.z-top;
	background-position:  0px -600px;
}

.index-menu2{
	background-position:  0px -748px;
	top: 622px;
}

.index-menu3{
	background-position:  0px -896px;
	top: 768px;
}

.index-truck{

	width: 239px;
	height: 108px;
	left: 10px;
	bottom: 80px;
	background: url(../images/index/truck.png) no-repeat 0 0;
}

.index-sun{

	width: 78px;
	height: 77px;
	left: 32px;
	top: 450px;
	.bg-index;
	background-position:  0px -151px;

}

.index-cloud1{

	width: 266px;
	height: 79px;
	left: -110px;
	top: 506px;
	.bg-index;
	z-index: 8;
	background-position: 0 -228px;
	// .index-animation;
}

.index-cloud2{

	width: 214px;
	height: 64px;
	left: 542px;
	top: 600px;
	.bg-index;
	background-position: 0 -87px;
	// .index-animation;
	-webkit-animation-delay:1s;
}

.index-cloud3{

	left: 600px;
	top: 286px;
	z-index: 0;
	// .index-animation;
	-webkit-animation-delay:0.5s;
}

.index-read{

	left: 0;
	top: 0;
	background: rgba(0,0,0,0.88);
	z-index: 2222;

	.index-read-pic{

		width: 617px;
		height: 897px;
		margin: 60px auto 30px;
		background: url(../images/index/price.png) no-repeat;
	}

	.index-read-close{

		width: 132px;
		height: 61px;
		margin: 0 auto;
		.bg-index;
		background-position: 0 -26px;
	}
}


.index-read-btn{

	width: 391px;
	height: 26px;
	left: 179px;
	bottom: 40px;
	.bg-index;
	background-position: 0 0;
}

@-webkit-keyframes cloud
{
0%   { -webkit-transform:translate3d(0,0,0);}
25%  { -webkit-transform:translate3d(80px,0,0);}
50%  { -webkit-transform:translate3d(0,0,0);}
75%  { -webkit-transform:translate3d(-50px,0,0);}
100% { -webkit-transform:translate3d(0,0,0);}
}

@media only screen and (device-height:480px) {
	
	.index-read{
	
		.index-read-pic{

			-webkit-transform:scale(0.95);

			margin-top: 10px;

			margin-bottom: 5px;
		}
	}

	.index-menu2{

		top: 612px;
	}

	.index-menu3{

		top: 758px;
	}
	
}

@media only screen and (device-width:800px) and (device-height:1280px) {
	
	
	.index-read{
		
		.index-read-pic{

			-webkit-transform:scale(0.95);

			margin-top: 5px;

			margin-bottom: 5px;
		}
	}

	.index-menu2{

		top: 612px;
	}

	.index-menu3{

		top: 758px;
	}
}